.clr_white {
  color: #fff;
}

.clr_black {
  color: #000;
}

.clr_black_2 {
  color: #121212;
}

.clr_black_3 {
  color: #1f1f1f;
}

.clr_light_blue {
  color: #18c3ff;
}

.clr_blue {
  color: #00adee;
}

.clr_blue_2 {
  color: #2618FF;
}

.clr_green {
  color: #00d47f;
}

.clr_gray {
  color: #434343;
}

.clr_gray_2 {
  color: #9d9d9d;
}

.clr_gray_3 {
  color: #a3a7aa;
}

.clr_gray_4 {
  color: #666;
}