include mixins
doctype html
html(lang='ru')
    +dev_head('UNI unifactor', false, true)

    body.factor_theme
        +header('header_light', false, true)
        .wrapper
            .base
                div.main_content
                    // 
                    #section_1.section.section_bg9.sectionBS
                        img.imgBS.hide(src='i/factor/section_1.jpg')
                        .section_inner
                            h3.section_title
                                span.clr_green Unifactor 
                                span.clr_white  —&nbsp;финансиро&shy;вание
                                    | поставщика и контроль задолж&shy;ености
                                    | покупателя по поставкам
                            //-.section_sub_title.clr_gray Экспресс-гарантии 44-ФЗ и 223-ФЗ

                            ul.service_benefits.clr_white
                                li
                                    .benefit_item
                                        h3 90% от суммы поставки сразу же после отгрузки

                                li
                                    .benefit_item
                                        h3 Контроль 
                                            span.dt_only <br> 
                                            |  оплаты

                                li
                                    .benefit_item
                                        h3 Сверка
                                            span.dt_only <br>  
                                            | с дебиторами
                            .order_form
                                form(action='#')
                                    .form_row.f_cell_v1
                                        .form_cell
                                            .f_input_v1: input(placeholder='Имя')

                                        .form_cell
                                            .f_input_v1: input(placeholder='Телефон или email')
                                        .form_cell
                                            button.btn_v2.get_guarantee_btn.green_btn(): span Оставить заявку

                    #section_2.section.section_bg10.clr_gray
                        .section_inner
                            .article
                                h3.section_title.clr_black_2 Наш факторинг
                            
                                p Это современный финансовый инструмент,  который <br>   позволит вашей компании:
                                .factor_benefits
                                    ul 
                                        li Получить финансирование без залога
                                        li Обеспечить рост продаж и развитие бизнеса
                                        li Пополнить оборотные средства и избежать кассовых разрывов
                                    ul
                                        li Профессионально оценить ваших покупателей
                                        li Обеспечить своевременное погашение дебиторской задолженности
                                        li Защититься от рисков несвоевременного платежа покупателей
                                    
                            ul.company_features.company_features_v2
                                li
                                    .feature_item
                                        .feature_icon
                                            svg(width="60px" height="59px" viewBox="0 0 60 59")
                                                | <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                                |         <g id="design-with-content" transform="translate(-150.000000, -1632.000000)" stroke="#00ADEE">
                                                |             <g id="Page-1" transform="translate(150.000000, 1633.000000)">
                                                |                 <path d="M51.7665405,33.7470811 L41.5138378,37.8141081 C38.1838378,39.1349189 34.4135676,37.506 33.0927568,34.176 L26.2454595,16.9162703 C24.9246486,13.5862703 26.5535676,9.816 29.8835676,8.49518919 L40.1362703,4.42816216 C43.4662703,3.10735135 47.2365405,4.73545946 48.5573514,8.06545946 L55.4046486,25.326 C56.7254595,28.656 55.0965405,32.4262703 51.7665405,33.7470811 L51.7665405,33.7470811 Z" id="Stroke-1"></path>
                                                |                 <path d="M26.1428919,37.2167838 L15.4807297,7.97975676 C13.1958649,1.71381081 6.28127027,-1.53348649 -8.10810811e-05,0.710027027 L-8.10810811e-05,0.710027027" id="Stroke-3"></path>
                                                |                 <path d="M43.0281081,43.8111081 L60,37.4502973" id="Stroke-5"></path>
                                                |                 <path d="M38.1081081,50.1695676 C38.1081081,54.2001081 34.8413514,57.4668649 30.8108108,57.4668649 C26.7802703,57.4668649 23.5135135,54.2001081 23.5135135,50.1695676 C23.5135135,46.139027 26.7802703,42.8722703 30.8108108,42.8722703 C34.8413514,42.8722703 38.1081081,46.139027 38.1081081,50.1695676 L38.1081081,50.1695676 Z" id="Stroke-7"></path>
                                                |                 <path d="M30.8108108,50.9803784 C30.3640541,50.9803784 30,50.6163243 30,50.1695676 C30,49.7228108 30.3640541,49.3587568 30.8108108,49.3587568 C31.2575676,49.3587568 31.6216216,49.7228108 31.6216216,50.1695676 C31.6216216,50.6163243 31.2575676,50.9803784 30.8108108,50.9803784 L30.8108108,50.9803784 Z" id="Stroke-9"></path>
                                                |             </g>
                                                |         </g>
                                                |     </g>
                                        
                                        .feature_caption 90% от суммы поставки после отгрузки
                                        p После оплаты и предоставления отгрузочных докумнтов мы переводим средства
                                li
                                    .feature_item
                                        .feature_icon
                                            svg(width="58px" height="63px" viewBox="0 0 58 63")
                                                | <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                                |         <g id="design-with-content" transform="translate(-409.000000, -1628.000000)" stroke="#00ADEE">
                                                |             <g id="Page-1" transform="translate(410.000000, 1629.000000)">
                                                |                 <path d="M0,28 C0,12.5609474 12.5609474,0 28,0 C43.4390526,0 56,12.5609474 56,28 C56,43.4390526 43.4390526,56 28,56" id="Stroke-1"></path>
                                                |                 <polyline id="Stroke-3" points="39.7894737 28 28 28 28 8.84210526"></polyline>
                                                |                 <polyline id="Stroke-5" points="30.2105263 61.8947368 24.3157895 56 30.2105263 50.1052632"></polyline>
                                                |             </g>
                                                |         </g>
                                                |     </g>
                                        
                                        .feature_caption Контроль <br> задолженности
                                        p Мы сверяем о&nbsp;задолженности вашему покупателю
                                        
                                li
                                    .feature_item
                                        .feature_icon
                                            svg(width="48px" height="59px" viewBox="0 0 48 59")
                                                | <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                                |         <g id="design-with-content" transform="translate(-699.000000, -1633.000000)" stroke="#00ADEE">
                                                |             <g id="Page-1" transform="translate(700.000000, 1634.000000)">
                                                |                 <path d="M5.57608696,40.8913043 L6.97878261,36.2148261 C8.51406522,31.0990761 9.29347826,25.7863043 9.29347826,20.4456522 L9.29347826,20.4456522 C9.29347826,12.9179348 15.3961957,6.81521739 22.923913,6.81521739 L22.923913,6.81521739 C30.4516304,6.81521739 36.5543478,12.9179348 36.5543478,20.4456522 L36.5543478,20.4456522 C36.5543478,25.7863043 37.3337609,31.0990761 38.8690435,36.2148261 L40.2717391,40.8913043" id="Stroke-1"></path>
                                                |                 <path d="M41.5108696,49.5652174 L4.33695652,49.5652174 C1.94171739,49.5652174 0,47.6235 0,45.2282609 L0,45.2282609 C0,42.8330217 1.94171739,40.8913043 4.33695652,40.8913043 L41.5108696,40.8913043 C43.9061087,40.8913043 45.8478261,42.8330217 45.8478261,45.2282609 L45.8478261,45.2282609 C45.8478261,47.6235 43.9061087,49.5652174 41.5108696,49.5652174 L41.5108696,49.5652174 Z" id="Stroke-3"></path>
                                                |                 <path d="M19.2065217,6.81521739 L19.2065217,3.7173913 C19.2065217,1.66415217 20.8706739,0 22.923913,0 L22.923913,0 C24.9771522,0 26.6413043,1.66415217 26.6413043,3.7173913 L26.6413043,6.81521739" id="Stroke-5"></path>
                                                |                 <path d="M31.5978261,49.5652174 L31.5978261,49.5652174 C31.5978261,53.6710761 28.2689022,57 24.1630435,57 L21.6847826,57 C17.5789239,57 14.25,53.6710761 14.25,49.5652174 L14.25,49.5652174" id="Stroke-7"></path>
                                                |             </g>
                                                |         </g>
                                                |     </g>
                                        
                                        .feature_caption Напоминание  <br> дебеторам об оплате
                                        p Мы сами следим  и напоминаем покупателям о своевременной оплате

                                li
                                    .feature_item
                                        .feature_icon
                                            svg(width="61px" height="61px" viewBox="0 0 61 61")
                                                | <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                                |     <g id="design-with-content" transform="translate(-969.000000, -1630.000000)" stroke="#00ADEE">
                                                |         <g id="Page-1" transform="translate(970.000000, 1631.000000)">
                                                |             <path d="M14.6483133,55.9214458 L0.000361445783,59.3240964 L3.40301205,44.6761446 L46.3406024,1.73855422 C48.5989157,-0.520481928 52.3478313,-0.607951807 54.6068675,1.65036145 L57.6733735,4.71759036 C59.9316867,6.97590361 59.8442169,10.7255422 57.5859036,12.9838554 L14.6483133,55.9214458 L14.6483133,55.9214458 Z" id="Stroke-1"></path>
                                                |             <polyline id="Stroke-3" points="15.7808675 54.4486988 15.7808675 49.3884578 9.99773494 49.3884578 9.99773494 43.6053253 4.93749398 43.6053253"></polyline>
                                                |             <path d="M43.8722169,4.20643373 L55.1175181,15.4517349" id="Stroke-5"></path>
                                                |             <path d="M37.7382651,10.3403855 L48.9835663,21.5856867" id="Stroke-7"></path>
                                                |         </g>
                                                |     </g>
                                                | </g>
                                        
                                        .feature_caption Проведение  <br> сверок с дебеторами
                                        p Детально следим за дебеторами и проводим проверки по окончанию сделки



                            .order_form
                                form(action='#')
                                    .form_row.f_cell_v1.input_bdr_mod
                                        .form_cell
                                            .f_input_v1: input(placeholder='Имя')

                                        .form_cell
                                            .f_input_v1: input(placeholder='Телефон или email')
                                        .form_cell
                                            button.btn_v2.get_guarantee_btn.green_btn(): span Оставить заявку
                                            
                    .section.section_bg11.clr_gray
                        .section_inner
                            .review_item
                                p Стать агентом банка это один из наиболее эффективных и надежных способов обеспечения исполнения обязательств, обеспечение заявки на участие в конкурсе, обеспечение исполнения контракта.

                            .author_item
                                .author_photo
                                    img(src='i/factor/author_1.png')
                                .author_name Альберто Жиллардино
                                .author_post CEO Вимм Билль Данн

                    #section_3.section.section_bg12.clr_white.sectionBS
                        img.imgBS.hide(src='i/factor/section_2_n.jpg')                        
                        .section_inner
                            .article_v2
                                h3.section_title Как мы работаем
                            
                                p Компании, которые в силу специфики своего бизнеса регулярно осуществляют поставки на условиях отсрочки платежа, часто сталкиваются с проблемой наличия значительной дебиторской задолженности со стороны покупателей. Подобная ситуация особенно характерна для компаний-поставщиков, работаюших с крупными покупателями, такими как розничные сети федерального уровня или крупные оптовые компании.
                            ul.factor_step_list.stepList
                                li.step_item.current.stepItem
                                    .step_index: span 1
                                    p Вы отгружаете продукцию покупателю
                                
                                li.step_item.stepItem
                                    .step_index: span 2
                                    p Вы передаете нам отгрузочные документы
                                        
                                li.step_item.stepItem
                                    .step_index: span 3
                                    p Мы перечисляем вам 90% от суммы поставки
                                
                                li.step_item.stepItem
                                    .step_index: span 4
                                    p Покупатель оплачивает поставленный товар
                                        
                                li.step_item.stepItem
                                    .step_index: span 5
                                    p Мы перечисляем оставшиеся средства за вычетом комиссии
                                        
                                                                
                    .section.section_bg11.clr_gray
                        .section_inner
                            .review_item
                                p Стать агентом банка это один из наиболее эффективных и надежных способов обеспечения исполнения обязательств, обеспечение заявки на участие в конкурсе, обеспечение исполнения контракта.

                            .author_item
                                .author_photo
                                    img(src='i/factor/author_1.png')
                                .author_name Альберто Жиллардино
                                .author_post CEO Вимм Билль Данн

                    // Продукты
                        
                    #section_4.section.section_bg13.clr_gray
                        .section_inner
                            h3.section_title Продукты
                            
                            ul.company_features.company_features_v2
                                li
                                    .feature_item
                                        .feature_icon
                                            svg(width="61px" height="60px" viewBox="0 0 61 60")
                                                | <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                |         <g id="factoring" transform="translate(-153.000000, -4408.000000)" stroke="#00ADEE">
                                                |             <path d="M172.83175,4416.22033 L168.983296,4411.29991 L167.176808,4424.19939 L180.143813,4425.56914 L176.295359,4420.64872 L185.158591,4413.73155 C185.158591,4413.73155 186.145737,4412.96115 184.412547,4410.74804 C182.679357,4408.53493 181.694983,4409.30317 181.694983,4409.30317 L172.83175,4416.22033 L172.83175,4416.22033 Z M201.539433,4412.12169 C201.197084,4412.12169 200.919556,4412.4042 200.919556,4412.74818 L200.919556,4466.437 C200.919556,4466.783 201.204122,4467.06349 201.539433,4467.06349 L212.799679,4467.06349 C213.142028,4467.06349 213.419556,4466.78098 213.419556,4466.437 L213.419556,4412.74818 C213.419556,4412.40218 213.134989,4412.12169 212.799679,4412.12169 L201.539433,4412.12169 L201.539433,4412.12169 Z M170.289433,4433.34921 C169.947084,4433.34921 169.669556,4433.63054 169.669556,4433.97779 L169.669556,4466.4349 C169.669556,4466.78206 169.954122,4467.06349 170.289433,4467.06349 L181.549679,4467.06349 C181.892027,4467.06349 182.169556,4466.78216 182.169556,4466.4349 L182.169556,4433.97779 C182.169556,4433.63063 181.88499,4433.34921 181.549679,4433.34921 L170.289433,4433.34921 L170.289433,4433.34921 Z M185.914433,4424.60847 C185.572084,4424.60847 185.294556,4424.8908 185.294556,4425.23325 L185.294556,4466.43871 C185.294556,4466.78377 185.579122,4467.06349 185.914433,4467.06349 L197.174679,4467.06349 C197.517027,4467.06349 197.794556,4466.78116 197.794556,4466.43871 L197.794556,4425.23325 C197.794556,4424.88819 197.50999,4424.60847 197.174679,4424.60847 L185.914433,4424.60847 L185.914433,4424.60847 Z M154.664433,4443.96296 C154.322084,4443.96296 154.044556,4444.23849 154.044556,4444.59283 L154.044556,4466.43363 C154.044556,4466.78149 154.329122,4467.06349 154.664433,4467.06349 L165.924679,4467.06349 C166.267027,4467.06349 166.544556,4466.78797 166.544556,4466.43363 L166.544556,4444.59283 C166.544556,4444.24496 166.25999,4443.96296 165.924679,4443.96296 L154.664433,4443.96296 L154.664433,4443.96296 Z" id="5" transform="translate(183.732056, 4438.118832) scale(-1, 1) translate(-183.732056, -4438.118832) "></path>
                                                |         </g>
                                                |     </g>
                                        
                                        .feature_caption Факторинг  <br> с регрессом
                                        p Нашему банку доверяют 100 000 клиентов по всей России.
                                        
                                li
                                    .feature_item
                                        .feature_icon
                                            svg(width="53px" height="71px" viewBox="0 0 53 71")
                                                | <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                |        <g id="factoring" transform="translate(-449.000000, -4398.000000)" stroke="#00ADEE">
                                                |            <path d="M460.165845,4421.00016 C460.456739,4421.00016 460.692556,4421.24046 460.692556,4421.53306 L460.692556,4467.20084 C460.692556,4467.49515 460.45076,4467.73374 460.165845,4467.73374 L450.597999,4467.73374 C450.307105,4467.73374 450.071289,4467.49344 450.071289,4467.20084 L450.071289,4421.53306 C450.071289,4421.23875 450.313085,4421.00016 450.597999,4421.00016 L460.165845,4421.00016 Z M473.442429,4421.00016 C473.733323,4421.00016 473.969139,4421.24046 473.969139,4421.53306 L473.969139,4467.20084 C473.969139,4467.49515 473.727343,4467.73374 473.442429,4467.73374 L463.874582,4467.73374 C463.583688,4467.73374 463.347872,4467.49344 463.347872,4467.20084 L463.347872,4421.53306 C463.347872,4421.23875 463.589669,4421.00016 463.874582,4421.00016 L473.442429,4421.00016 Z M486.719012,4421.00016 C487.009906,4421.00016 487.245722,4421.24046 487.245722,4421.53306 L487.245722,4467.20084 C487.245722,4467.49515 487.003926,4467.73374 486.719012,4467.73374 L477.151166,4467.73374 C476.860271,4467.73374 476.624455,4467.49344 476.624455,4467.20084 L476.624455,4421.53306 C476.624455,4421.23875 476.866252,4421.00016 477.151166,4421.00016 L486.719012,4421.00016 Z M499.995595,4421.00016 C500.286489,4421.00016 500.522305,4421.24046 500.522305,4421.53306 L500.522305,4467.20084 C500.522305,4467.49515 500.280509,4467.73374 499.995595,4467.73374 L490.427749,4467.73374 C490.136855,4467.73374 489.901039,4467.49344 489.901039,4467.20084 L489.901039,4421.53306 C489.901039,4421.23875 490.142835,4421.00016 490.427749,4421.00016 L499.995595,4421.00016 Z M479.864499,4414.23809 L487.613279,4406.48147 L479.598517,4399 L479.690235,4404.25451 L465.025929,4404.41959 C465.025929,4404.41959 463.97263,4404.43798 464.015381,4406.80248 C464.058132,4409.16699 465.108475,4409.14865 465.108475,4409.14865 L479.772781,4408.98358 L479.864499,4414.23809 Z" id="6"></path>
                                                |        </g>
                                                |    </g>
                                        
                                        .feature_caption Факторинг  <br> без регресса
                                        p Нашему банку доверяют 100 000 клиентов по всей России.
                                                                                
                                li
                                    .feature_item
                                        .feature_icon
                                            svg(width="57px" height="43px" viewBox="0 0 57 43")
                                                | <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                |     <g id="factoring" transform="translate(-729.000000, -4417.000000)" stroke="#00ADEE">
                                                |         <path d="M757.471423,4418 C746.139461,4418 736.867856,4427.29871 736.867856,4438.66379 L730,4438.66379 L740.301784,4452.43966 L750.603568,4438.66379 L743.735712,4438.66379 C743.735712,4431.01819 749.848103,4424.88793 757.471423,4424.88793 L757.471423,4418 L757.471423,4418 Z M774.641063,4424.88793 L764.339279,4438.66379 L771.207135,4438.66379 C771.207135,4446.3094 765.094743,4452.43966 757.471423,4452.43966 L757.471423,4459.32759 C768.803385,4459.32759 778.074991,4450.02888 778.074991,4438.66379 L784.942847,4438.66379 L774.641063,4424.88793 L774.641063,4424.88793 Z" id="7"></path>
                                                |     </g>
                                                | </g>
                                        
                                        .feature_caption Реверсивный факторинг
                                        p Нашему банку доверяют 100 000 клиентов по всей России.                                                             
                                li
                                    .feature_item
                                        .feature_icon
                                            svg(width="55px" height="51px" viewBox="0 0 55 51")
                                                | <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                |     <g id="factoring" transform="translate(-1010.000000, -4417.000000)" stroke="#00ADEE">
                                                |         <path d="M1057.51844,4420.26686 C1058.09177,4420.20916 1058.54109,4419.72945 1058.54109,4419.13914 C1058.54109,4418.51036 1058.03306,4418 1057.40581,4418 L1016.6615,4418 C1016.03485,4418 1015.52622,4418.50976 1015.52622,4419.13914 C1015.52622,4419.73486 1015.98332,4420.21757 1016.56384,4420.26807 L1010.5166,4440.69509 C1010.64061,4442.3482 1012.47024,4444.85972 1014.90975,4444.85972 C1015.33091,4444.85972 1015.55198,4444.7948 1016.1325,4444.66315 L1016.1325,4465.90291 C1016.1325,4466.67897 1016.81367,4467.30535 1017.5853,4467.30535 L1056.49699,4467.30535 C1057.26742,4467.30535 1057.94799,4466.67897 1057.94799,4465.90291 L1057.94799,4444.66315 C1058.52851,4444.7954 1058.74958,4444.87235 1059.17014,4444.87235 C1061.60965,4444.87235 1063.4273,4442.3482 1063.55131,4440.69449 L1057.51844,4420.26686 L1057.51844,4420.26686 Z M1055.04299,4451.48719 L1055.04299,4459.9445 C1055.04299,4460.76083 1054.34864,4461.42208 1053.53507,4461.42208 L1020.53583,4461.42208 C1019.72226,4461.42208 1019.0363,4460.76023 1019.0363,4459.9445 L1019.0363,4451.48719 L1019.0363,4443.00824 C1019.61682,4444.03557 1020.93782,4444.87415 1022.34989,4444.87415 C1023.95605,4444.87415 1025.2441,4443.78671 1026.00256,4442.57543 C1026.75981,4443.78671 1028.06823,4444.87415 1029.675,4444.87415 C1031.28116,4444.87415 1032.60037,4443.78671 1033.35702,4442.57543 C1034.11427,4443.78671 1035.43767,4444.87415 1037.04564,4444.87415 C1038.65181,4444.87415 1039.9782,4443.78671 1040.73665,4442.57543 C1041.4933,4443.78671 1042.82089,4444.87415 1044.42646,4444.87415 C1046.03443,4444.87415 1047.36142,4443.78671 1048.12047,4442.57543 C1048.87713,4443.78671 1050.12384,4444.87415 1051.7312,4444.87415 C1053.14387,4444.87415 1054.46307,4444.03497 1055.04359,4443.00824 L1055.04359,4451.48719 L1055.04299,4451.48719 Z" id="8"></path>
                                                |     </g>
                                                | </g>
                                        
                                        .feature_caption Факторинг для поставщиков торговых сетей
                                        p Нашему банку доверяют 100 000 клиентов по всей России.
                                
                                li
                                    .feature_item
                                        .feature_icon
                                            svg(width="59px" height="59px" viewBox="0 0 59 59")
                                                | <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                |     <g id="factoring" transform="translate(-149.000000, -4728.000000)" stroke="#00ADEE">
                                                |         <path d="M207,4757.5 C207,4773.23998 194.23998,4786 178.5,4786 C162.76002,4786 150,4773.23998 150,4757.5 C150,4741.76002 162.76002,4729 178.5,4729 C194.23998,4729 207,4741.76002 207,4757.5 L207,4757.5 Z M163.69368,4756.10065 C163.82535,4752.10951 164.51676,4748.29165 165.67614,4744.76164 L156.15543,4744.75081 C154.22484,4748.1292 153.03696,4751.98639 152.81637,4756.10065 L163.69368,4756.10065 L163.69368,4756.10065 Z M177.10863,4744.75195 L168.62361,4744.75195 C167.35935,4748.29336 166.6155,4752.10381 166.47471,4756.10065 L177.10806,4756.10065 L177.10806,4744.75195 L177.10863,4744.75195 Z M177.10863,4731.81409 C174.11271,4734.49195 171.58362,4737.95242 169.7562,4741.94413 L177.10863,4741.94413 L177.10863,4731.81409 L177.10863,4731.81409 Z M157.99824,4741.94356 L166.7295,4741.94356 C168.19839,4738.43293 170.2179,4735.17823 172.54407,4732.48384 C166.53855,4733.83816 161.40057,4737.45994 157.99824,4741.94356 L157.99824,4741.94356 Z M204.18363,4756.10065 C203.96304,4751.98582 202.77459,4748.1292 200.84457,4744.75081 L191.32272,4744.76164 C192.48267,4748.29165 193.17408,4752.10951 193.30575,4756.10065 L204.18363,4756.10065 L204.18363,4756.10065 Z M179.89137,4756.10065 L190.52529,4756.10065 C190.3845,4752.10381 189.64008,4748.29336 188.37582,4744.75195 L179.89137,4744.75195 L179.89137,4756.10065 L179.89137,4756.10065 Z M179.89137,4741.94356 L187.24437,4741.94356 C185.41638,4737.95185 182.88729,4734.49138 179.89137,4731.81352 L179.89137,4741.94356 L179.89137,4741.94356 Z M184.45536,4732.48441 C186.7821,4735.1788 188.80218,4738.4335 190.2705,4741.94356 L199.00176,4741.94356 C195.6,4737.45994 190.46259,4733.83816 184.45536,4732.48441 L184.45536,4732.48441 Z M152.81637,4758.89935 C153.03696,4763.01304 154.22484,4766.8708 156.15543,4770.24805 L165.67614,4770.23779 C164.51676,4766.70835 163.82535,4762.88992 163.69368,4758.89878 L152.81637,4758.89878 L152.81637,4758.89935 Z M177.10863,4758.89935 L166.47471,4758.89935 C166.6155,4762.89676 167.35935,4766.70664 168.62361,4770.24805 L177.10863,4770.24805 L177.10863,4758.89935 L177.10863,4758.89935 Z M177.10863,4773.05644 L169.75563,4773.05644 C171.58362,4777.04872 174.11214,4780.50862 177.10806,4783.18591 L177.10806,4773.05644 L177.10863,4773.05644 Z M172.54407,4782.51559 C170.2179,4779.82006 168.19782,4776.5665 166.7295,4773.05587 L157.99824,4773.05587 C161.40057,4777.53949 166.53855,4781.16127 172.54407,4782.51559 L172.54407,4782.51559 Z M193.30518,4758.89935 C193.17408,4762.89049 192.48267,4766.70835 191.32215,4770.23836 L200.844,4770.24862 C202.77459,4766.87137 203.96304,4763.01361 204.18306,4758.89992 L193.30518,4758.89992 L193.30518,4758.89935 Z M179.89137,4770.24805 L188.37639,4770.24805 C189.64065,4766.70664 190.3845,4762.89676 190.52586,4758.89935 L179.89137,4758.89935 L179.89137,4770.24805 L179.89137,4770.24805 Z M179.89137,4783.18591 C182.88786,4780.50862 185.41638,4777.04815 187.24437,4773.05644 L179.89137,4773.05644 L179.89137,4783.18591 L179.89137,4783.18591 Z M199.00176,4773.05644 L190.2705,4773.05644 C188.80218,4776.56707 186.7821,4779.82063 184.45536,4782.51616 C190.46259,4781.16127 195.6,4777.53949 199.00176,4773.05644 L199.00176,4773.05644 Z" id="9"></path>
                                                |     </g>
                                                | </g>
                                        
                                        .feature_caption Международный факторинг
                                        p Нашему банку доверяют 100 000 клиентов по всей России.
                                                                        
                                li
                                    .feature_item
                                        .feature_icon
                                            svg(width="47px" height="53px" viewBox="0 0 47 53")
                                                | <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                |         <g id="factoring" transform="translate(-449.000000, -4737.000000)" stroke="#00ADEE">
                                                |             <g id="10" transform="translate(450.000000, 4738.000000)">
                                                |                 <path d="M30.7879008,12.0200588 L14.4948092,12.0200588 C6.50851145,20.0067778 -3.42377863,32.5591176 1.68045802,41.7163399 C5.71396947,48.9534379 14.8328244,50.824719 23.6799618,50.7003595 C32.5270992,50.576 41.1021756,48.454268 44.0467557,41.7163399 C47.8119847,33.1019346 38.2077481,20.2042288 30.7879008,12.0200588 L30.7879008,12.0200588 Z M24.1313359,40.0102941 L24.1313359,42.5899739 L21.673855,42.5899739 L21.673855,40.1866144 C19.9937405,40.1114444 18.3641221,39.6555752 17.4108779,39.0992484 L18.1628244,36.1412941 C19.216374,36.7225621 20.6958779,37.2532549 22.3258397,37.2532549 C23.7548473,37.2532549 24.7331679,36.6976209 24.7331679,35.6854248 C24.7331679,34.7255359 23.9307252,34.1179412 22.0750763,33.4854052 C19.3915649,32.5750523 17.5616794,31.3103268 17.5616794,28.8577778 C17.5616794,26.6321242 19.1160687,24.887281 21.7995802,24.3562418 L21.7995802,21.954268 L24.2567176,21.954268 L24.2567176,24.1792288 C25.9368321,24.2554379 27.0659542,24.6098105 27.8931298,25.0144118 L27.165916,27.8715621 C26.5139313,27.5930523 25.3600763,27.0117843 23.5549237,27.0117843 C21.9249618,27.0117843 21.3980153,27.7194902 21.3980153,28.4282353 C21.3980153,29.2627255 22.275687,29.7937647 24.4071756,30.6026209 C27.3912595,31.6650458 28.5945802,33.0558627 28.5945802,35.3317451 C28.5949237,37.5826863 27.015458,39.5048889 24.1313359,40.0102941 L24.1313359,40.0102941 Z" id="Shape"></path>
                                                |                 <path d="M35.6046183,1.63260784 C33.3690458,0.266039216 30.6178626,5.194 28.6540076,5.11779085 C26.6894656,5.0415817 25.1398855,0.179091503 22.8970992,0.258418301 C20.654313,0.337745098 19.7670229,4.7630719 17.9673664,5.17771895 C16.1677099,5.59236601 11.6817939,-0.0443398693 9.8821374,1.93536601 C8.42427481,3.53956863 12.8851145,9.95014379 14.6311832,12.3268301 L16.2264504,12.3268301 L29.2232061,12.3268301 L30.7174809,12.3268301 C32.5473664,9.80915686 37.4358779,2.75184314 35.6046183,1.63260784 L35.6046183,1.63260784 Z" id="Shape"></path>
                                                |             </g>
                                                |         </g>
                                                |     </g>
                                        
                                        .feature_caption Управление дебиторской задолженностью
                                        p Нашему банку доверяют 100 000 клиентов по всей России.
                                        
                    // вопросы

                    #section_5.section.section_bg12
                        .section_inner
                            h3.section_title.text_center.clr_green Есть вопросы?
                                                                
                            ul.question_block.clr_gray
                                li
                                    .question_item
                                        .question_caption Как вы работаете?
                                        p Компании, которые в силу специфики своего бизнеса регулярно осуществляют поставки на условиях отсрочки платежа, часто сталкиваются с проблемой наличия значительной дебиторской задолженности со стороны покупателей. 
                                    
                                    .question_item
                                        .question_caption Сколько это стоит?
                                        p Компании, которые в силу специфики своего бизнеса регулярно осуществляют поставки на условиях отсрочки платежаКомпании, которые в силу специфики своего бизнеса регулярно осуществляют поставки на условиях отсрочки платежаКомпании, которые в силу специфики своего бизнеса регулярно осуществляют поставки на условиях отсрочки платежа
                                        
                                li
                                    .question_item
                                        .question_caption Сколько это стоит?
                                        p Компании, которые в силу специфики своего бизнеса регулярно осуществляют поставки на условиях отсрочки платежа
                                
                                    .question_item
                                        .question_caption Как вы работаете?
                                        p Компании, которые в силу специфики своего бизнеса регулярно осуществляют поставки на условиях отсрочки платежа, часто сталкиваются с проблемой наличия значительной дебиторской задолженности со стороны покупателей. 
                            
                            .ask_question_controls.text_center
                                a.btn_v2.green_btn.agent_btn(href='#'): span Задать вопрос

                    #section_6.section.section_bg14.clr_gray
                        .section_inner
                            h3.section_title Преимущества
                            
                            ul.company_features
                                li
                                    .feature_item
                                        .feature_icon
                                            svg(width="78px" height="50px" viewBox="0 0 78 50")
                                                | <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="design" transform="translate(-149.000000, -3900.000000)" stroke="#00ADEE">
                                                <g id="Group-16" transform="translate(0.000000, 3623.000000)">
                                                <polyline id="icon4" points="150 300.018374 176.310422 326.328796 225.639217 277"></polyline>
                                                </g>
                                                </g>
                                                </g>
                                        
                                        .feature_caption Надежность банка
                                        p Нашему банку доверяют 100 000 клиентов по всей России.
                                        
                                li
                                    .feature_item
                                        .feature_icon
                                            svg(width="63px" height="64px" viewBox="0 0 63 64")
                                                | <defs>
                                                |         <path d="M490.732797,277.381662 C492.056853,274.267513 488.814787,271.032179 485.666227,272.270956 L430.486766,294.022873 C427.307537,295.273619 427.116783,299.839741 430.260854,301.175018 L454.16567,311.332844 L459.368386,333.097477 C460.19349,336.704594 465.363291,337.088346 466.810028,333.683204 L490.732797,277.381662 Z" id="path-1"></path>
                                                |         <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="63.0368139" height="64.0324799" fill="white">
                                                |             <use xlink:href="#path-1"></use>
                                                |         </mask>
                                                |     </defs>
                                                |     <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                |         <g id="design" transform="translate(-428.000000, -3895.000000)" stroke="#00ADEE" stroke-width="2">
                                                |             <g id="Group-16" transform="translate(0.000000, 3623.000000)">
                                                |                 <use id="icon5" mask="url(#mask-2)" xlink:href="#path-1"></use>
                                                |             </g>
                                                |         </g>
                                                |     </g>
                                        
                                        .feature_caption Онлайн сервисы
                                        p Создаем удобные и быстрые сервисы для работы с банком через интернет.
                                        
                                li
                                    .feature_item
                                        .feature_icon
                                            svg(width="73px" height="65px" viewBox="0 0 73 65")
                                                | <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                                |     <g id="design" transform="translate(-703.000000, -3893.000000)" stroke="#00ADEE">
                                                |         <g id="Group-16" transform="translate(0.000000, 3623.000000)">
                                                |             <g id="icon6" transform="translate(704.000000, 271.000000)">
                                                |                 <path d="M65.5978261,50.0078829 L65.5978261,57.0322732 C65.5978261,60.4804683 62.8334565,63.2761756 59.423913,63.2761756 L6.17391304,63.2761756 C2.76436957,63.2761756 0,60.4804683 0,57.0322732 L0,19.5688585 C0,16.1206634 2.76436957,13.3249561 6.17391304,13.3249561 L59.423913,13.3249561 C62.8334565,13.3249561 65.5978261,16.1206634 65.5978261,19.5688585 L65.5978261,25.0322732" id="Stroke-1"></path>
                                                |                 <path d="M6.17391304,13.3249561 L49.0664022,0.297053659 C53.0478043,-0.980604878 57.1086957,2.02427317 57.1086957,6.24827317 L57.1086957,7.08105366" id="Stroke-3"></path>
                                                |                 <path d="M71,43.7639805 L62.5108696,43.7639805 C59.1013261,43.7639805 56.3369565,40.9682732 56.3369565,37.520078 L56.3369565,37.520078 C56.3369565,34.0718829 59.1013261,31.2761756 62.5108696,31.2761756 L71,31.2761756 L71,43.7639805 L71,43.7639805 Z" id="Stroke-5"></path>
                                                |             </g>
                                                |         </g>
                                                |     </g>
                                                | </g>
                                        
                                        .feature_caption Выгодные условия
                                        p Мы сотрудничем с лучшими банками и компаниями, чтобы предоставлять выгодные тарифы.
                                        
                                li
                                    .feature_item
                                        .feature_icon
                                            svg(width="57px" height="66px" viewBox="0 0 57 66")
                                                | <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                |         <g id="design" transform="translate(-983.000000, -3895.000000)" stroke="#00ADEE">
                                                |             <g id="Group-16" transform="translate(0.000000, 3623.000000)">
                                                |                 <g id="icon7" transform="translate(983.000000, 272.000000)">
                                                |                     <path d="M0.558823529,54.8135593 L0.558823529,28.5254237 C0.558823529,13.0803051 13.0686471,0.559322034 28.5,0.559322034 L28.5,0.559322034 C43.9313529,0.559322034 56.4411765,13.0803051 56.4411765,28.5254237 L56.4411765,54.8135593" id="Stroke-1"></path>
                                                |                     <path d="M56.4411765,54.2542373 L51.9705882,54.2542373 C49.5017059,54.2542373 47.5,52.2507458 47.5,49.779661 L47.5,40.8305085 C47.5,38.3594237 49.5017059,36.3559322 51.9705882,36.3559322 L56.4411765,36.3559322 L56.4411765,54.2542373 L56.4411765,54.2542373 Z" id="Stroke-3"></path>
                                                |                     <path d="M5.02941176,54.2542373 L0.558823529,54.2542373 L0.558823529,36.3559322 L5.02941176,36.3559322 C7.49829412,36.3559322 9.5,38.3594237 9.5,40.8305085 L9.5,49.779661 C9.5,52.2507458 7.49829412,54.2542373 5.02941176,54.2542373 L5.02941176,54.2542373 Z" id="Stroke-5"></path>
                                                |                     <path d="M56.4411765,54.8135593 L56.4411765,54.8135593 C56.4411765,59.4469831 52.6881176,63.2033898 48.0588235,63.2033898 L38,63.2033898" id="Stroke-7"></path>
                                                |                     <path d="M35.2058824,65.440678 L29.6176471,65.440678 C28.3826471,65.440678 27.3823529,64.4394915 27.3823529,63.2033898 L27.3823529,63.2033898 C27.3823529,61.9672881 28.3826471,60.9661017 29.6176471,60.9661017 L35.2058824,60.9661017 C36.4408824,60.9661017 37.4411765,61.9672881 37.4411765,63.2033898 L37.4411765,63.2033898 C37.4411765,64.4394915 36.4408824,65.440678 35.2058824,65.440678 L35.2058824,65.440678 Z" id="Stroke-9"></path>
                                                |                 </g>
                                                |             </g>
                                                |         </g>
                                                |     </g>
                                        
                                        .feature_caption Поддержка 24/7
                                        p Решаем вопросы быстро, доступны всегда по телефону 8&nbsp;800&nbsp;333&nbsp;04&nbsp;04
                                        
                            .text_center.docs_caption.clr_gray_3 НАДЕЖНЫЕ ПАРТНЕРЫ
                            ul.partner_list
                                li
                                    .partner_item
                                        .partner_img
                                            img.retina_only(src='i/factor/logo1@2x.png' width=172 height=47)
                                            img.no_retina(src='i/factor/logo1.png' width=172 height=47)
                                        //+partner_1()
                                        
                                li
                                    .partner_item
                                        .partner_img
                                            img.retina_only(src='i/factor/logo2@2x.png' width=172 height=47)
                                            img.no_retina(src='i/factor/logo2.png' width=172 height=47)
                                        //+partner_2()
                                        
                                li
                                    .partner_item
                                        .partner_img
                                            img.retina_only(src='i/factor/logo3@2x.png' width=155 height=41)
                                            img.no_retina(src='i/factor/logo3.png' width=155 height=41)
                                        //+partner_3()
                                        
                                li
                                    .partner_item
                                        .partner_img
                                            img.retina_only(src='i/factor/logo4@2x.png' width=158 height=46)
                                            img.no_retina(src='i/factor/logo4.png' width=158 height=46)
                                        //+partner_4()
                                                                                                                                
                    .section.section_bg11.clr_gray
                        .section_inner
                            .review_item
                                p Стать агентом банка это один из наиболее эффективных и надежных способов обеспечения исполнения обязательств, обеспечение заявки на участие в конкурсе, обеспечение исполнения контракта.

                            .author_item
                                .author_photo
                                    img(src='i/factor/author_1.png')
                                .author_name Альберто Жиллардино
                                .author_post CEO Вимм Билль Данн
                                    
                    .section.section_bg8.clr_gray.sectionBS
                        img.imgBS.hide(src='i/factor/section_3.jpg')
                        .section_inner
                            h3.section_title.text_center.clr_white
                                | Получите факторинг
                            .text_center: .order_form.center_mod
                                form(action='#')
                                    .form_row.f_cell_v1
                                        .form_cell
                                            .f_input_v1: input(placeholder='Имя')

                                        .form_cell
                                            .f_input_v1: input(placeholder='Телефон или email')
                                        .form_cell
                                            button.btn_v2.get_guarantee_btn.green_btn(): span Получить гарантию  
                                            
                    // Новости
                    #section_7.section.section_bg12.clr_black_2
                        .section_inner: .news_block
                            h3.section_title Новости
                            
                            ul.news_list
                                +loop_while(3)
                                    li
                                        .news_unit
                                            a.news_img.openNewsPopup(href='#')
                                                img(src='i/factor/news_1.jpg')
                                                
                                            .news_inner
                                                a.clr_green.gl_link.openNewsPopup(href='#') «Юниаструм Банк» вошел в топ-30 по прибыли по итогам 1 квартала 2016 года
                                            
                            .more_news
                                a.gl_link(href='#') Больше новостей
                                
                .footer
                    .section_inner
                        .footer_row
                            .fl
                                .callback_block.clr_white
                                    .callback_phone 8 800 333 04 04
                                    p
                                        span Звоните или 
                                        a.gl_link.callbakc_link.clr_white.openCallBackForm(href='#') закажите звонок
                            .fr
                                .footer_menu
                                    li: a.gl_link(href='#') О продукте
                                    li: a.gl_link(href='#') Калькулятор
                                    li: a.gl_link.openCallBackCompleteForm(href='#') Отзывы
                                    li: a.gl_link.restoreCompliteFormOpen(href='#') Оформление
                                    li: a.gl_link.restoreFormOpen(href='#') Контакты
                        .footer_row
                            .footer_box
                                p.clr_gray_4 Есть вопросы?
                                p 
                                    a.gl_link.clr_white(href='mailto:hello@unitender.com') hello@unitender.com
    
                            .footer_box
                                p.clr_gray_4 Приходите в гости
                                p.clr_white Московская обл., 8-ой км Рублево-Успенского шоссе,  <br> Одинцовский р-н, д. Барвиха, д. 114
    
                            ul.footer_soc
                                li: a.soc_link.icon-fb(href='#')
                                li: a.soc_link.icon-tw(href='#')
                                li: a.soc_link.icon-gp(href='#')
                                li: a.soc_link.icon-vk(href='#')

        .aside_menu_holder
            a.aside_close_btn.openAsideMenu(href='#')

            .aside_menu_inner
                ul#navigation.aside_menu
                    li: a.aside_m_link(href='#section_1') Контроль
                    li: a.aside_m_link(href='#section_2') Факторинг
                    li: a.aside_m_link(href='#section_3') Шаги
                    li: a.aside_m_link(href='#section_4') Продукты
                    li: a.aside_m_link(href='#section_5') Вопросы
                    li: a.aside_m_link(href='#section_6') Преимущества
                    li: a.aside_m_link(href='#section_7') Новости
                
                .aside_info
                    .aside_company 
                        span.clr_green UNIASTRUM 
                        span BANK
                    
                    dl.aside_address
                        dt МОСКВА
                        dd
                            | 80 Franklin Street, Suite 1  <br> 
                            | New York, NY 10013, USA  <br> 
                            b 8 800 333 04 04
                            
                        dt САНКТ-ПЕТЕРБУРГ
                        dd
                            | 80 Franklin Street, Suite 1  <br> 
                            | New York, NY 10013, USA  <br> 
                            b 8 800 333 04 04
                            
        .dialog_viewport.ui-widget-overlay
            +popups()
            